.highlight {
	color: red;
	background-color: yellow;
}
.marqeeclass{

	color: cyan;
	font-family: verdana;
	font-size: 300%;

}
.pagelayout {
	background-color: #F5FFFA;

}
.div2{

	color: #00CED1;
	font-family: verdana;
	font-size: 150%;

}

.div_tag{

	color: #00CED1;
	font-family: verdana;
	font-size: 130%;

}
.tableprop{
  color: #00CED1;
  font-family: verdana;
  font-size: 200%;

}
.heading1{
	color: blue;
	font-family: verdana;
	font-size: 250%;

}
.heading2{
	color: blue;
	font-family: verdana;
	font-size: 150%;

}

.list_tag{

	color: #00CED1;
	font-family: verdana;
	font-size: 120%;

}

